@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    * {
        @apply transition-all;
    }
    
    *::-webkit-scrollbar {
        @apply bg-transparent w-3;
    }
    
    *::-webkit-scrollbar-thumb {
        @apply bg-slate-700 active:bg-slate-100 hover:bg-slate-500  rounded-full transition-none;
    }
    
    ::selection {
        @apply bg-mainDark;
    }
    
    body {
        @apply bg-mainDark print:bg-white text-mainDark leading-5 text-base;
        font-family: Ubuntu, -apple-system, 'Helvetica Neue', sans-serif;
    }

    main {
        @apply bg-white max-w-4xl mx-auto p-16;
    }
    
    a {
        color: blue;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5 {
        text-transform: capitalize;
        font-family: "Bree Serif",sans-serif;
    }
    
    h1 {
        @apply text-5xl leading-[.75] mb-2 uppercase;
    }
    
    h2 {
        @apply text-2xl leading-[1.1] mb-2;
    }

    date {
        float: right;
        font-size: .9em;
    }
    
    object {
        @apply w-5 h-5 me-1;
    }
    
    time {
        font-weight: 200;
        font-size: .9rem;
    }

    section {
        padding-block: .75rem;
    }

    section:not(:last-of-type) {
        border-bottom: 1px solid #eee;
    }

    section article:first-of-type h3 {
        margin-top: -.25em;
    }

    article:not(:last-of-type) {
        margin-bottom: .25em;
    }

    article li {
        position: relative;
        display: flex;
        gap: .25em;
    }

    article li::before {
        content: "-";
    }
}


@layer components {
    .items-start-center li {
        @apply flex items-center;
    }

    /* 
        2197 / arrow
        2714 Correct
        2217 **
        2022 (Pullit)
        2043 (-)
        2023 (>)
        2765 Arrow boldest
        2799  arrow ->
        10195 >> wave double arrows 
    */
    h3::before,
    section.skills li::before {
        content: "\2217";
        content: "\2197";
        content: "\2714";
        margin-right: 5px;
    }
}


@media print {
    section.download {
        display: none ;
    }
    
    section.skills {
        @apply pt-16;
        page-break-before:always;
    }

    body {
        padding-bottom: 0;
    }
}